each val in accountsList
    tr
        td
            if hasCredentials[val]
                span.glyphicon.glyphicon-lock(style='display: none;', data-toggle='tooltip', data-placement='bottom', title='Credentials need reentered')
            else
                span.glyphicon.glyphicon-lock(data-toggle='tooltip', data-placement='bottom', title='Credentials need reentered')

            =val
        td=draftPostCounts[val]
        td=scheduledPostCounts[val]
        td.encryptdStatus.encryptdNot.encryptdUnlocked(style='display: none;')
            .btn-group.btn-group-justified(role='group')
                .btn-group(role='group')
                    button.btn.btn-success(type='button', data-user=val, onclick='ui.manageAccounts.check(this)', data-toggle='tooltip', data-placement='bottom', title='Check Credentials')
                        span.glyphicon.glyphicon-refresh
                .btn-group(role='group')
                    button.btn.btn-info(type='button', data-user=val, onclick='ui.manageAccounts.edit(this)', data-toggle='tooltip', data-placement='bottom', title='Edit Login Credentials')
                        span.glyphicon.glyphicon-edit
                .btn-group(role='group')
                    button.btn.btn-danger(type='button', data-user=val, onclick='ui.manageAccounts.remove(this)', data-toggle='tooltip', data-placement='bottom', title='Remove Account')
                        span.glyphicon.glyphicon-minus-sign
