img(src='./images/icon.svg')
div.appName SteemWrite
div.appVersion #{global.appConfig.appVersion}

if global.appConfig.dev
    div.poweredBy
        div.poweredByLabel Powered By
        ul
            li Electron #{process.versions.electron}
            li Node #{process.versions.node}
            li Chromium #{process.versions.chrome}
            li V8 #{process.versions.v8}
            li userDataPath
                =' '
                code #{global.userDataPath}
