.row
    .postcard.newPostCard.col-sm-6.col-md-3
        .thumbnail
            a(onclick='postsView.openEditor(this)', data-author=username)
                img(src='./images/newPost.svg')
            .caption
                a(onclick='postsView.openEditor(this)', data-author=username)
                    h4.text-center='Create New Post'

    each post in posts
        .postcard.col-sm-6.col-md-3
            .thumbnail
                .imgHolder
                    a(onclick='postsView.openEditor(this)', data-author=post.author, data-permlink=post.permlink)
                        if (post.featuredImg.length > 0)
                            img(src='https://img1.steemit.com/256x512/' + post.featuredImg)
                        else
                            img(src='./images/noImage.svg')

                    if (post.hadError)
                        span.hadErrorLabel.label.label-warning
                            |Had Error

                    if (post.status == 'published')
                        span.statusLabel.label.label-success Published
                    else if (post.status == 'scheduled')
                        span.statusLabel.label.label-primary Scheduled
                    else if (post.status == 'drafts')
                        span.statusLabel.label.label-info Draft
                    else if (post.status == 'trash')
                        span.statusLabel.label.label-danger Trash

                .caption
                    h4
                        a(onclick='postsView.openEditor(this)', data-author=post.author, data-permlink=post.permlink)
                            if (post.autosaveRevison.length > 0)
                                span.glyphicon.glyphicon-adjust(aria-hidden='true')
                                =' '
                            span.title=post.title

                    p.dateHolder
                        span.glyphicon.glyphicon-time(aria-hidden='true')
                        span.date
                            =global.moment.unix(post.date).tz(global.tz).format('LLLL')

                    p.tags
                        if (post.tag1)
                            span.label.label-info=post.tag1

                        if (post.tag2)
                            span.label.label-info=post.tag2

                        if (post.tag3)
                            span.label.label-info=post.tag3

                        if (post.tag4)
                            span.label.label-info=post.tag4

                        if (post.tag5)
                            span.label.label-info=post.tag5
