//unused vars in view: author, permlink, status, date, scheduledDate

.row
    .postcard.col-sm-6.col-md-3
        .thumbnail
            img(src='./images/newPost.svg')
            .caption
                h4.text-center
                    ='Create New Post'

                p.tags


    each post in posts
        .postcard.col-sm-6.col-md-3
            .thumbnail
                if (post.featuredImg.length > 0)
                    img(src='https://img1.steemit.com/256x512/' + post.featuredImg)
                else
                    img(src='./images/noImage.svg')

                .caption
                    h4
                        span.label.label-default Default
                        ='  '
                        span.title=post.title

                    p.tags
                        if (post.tag1)
                            span.label.label-info=post.tag1

                        if (post.tag2)
                            span.label.label-info=post.tag2

                        if (post.tag3)
                            span.label.label-info=post.tag3

                        if (post.tag4)
                            span.label.label-info=post.tag4

                        if (post.tag5)
                            span.label.label-info=post.tag5
